@model iReadABook.Models.Book.BookDetailsViewModel

@section header {
    <script src="~/Scripts/jquery.rateit.js"></script>
    <link href="~/Content/rateit.css" rel="stylesheet" />
    
    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" />

    <style>
        #topTeacherAssignTeacherActions li{
            font-size: 15px;
            list-style: none;
        }

        .questionAdd:hover{
            cursor: pointer;
        }

        #teacherQuestions li {
            font-size: 15px;
        }

        #teacherQuestions:hover {
            cursor: pointer;
        }
        
        #btnAddQuestion:hover {
            cursor: pointer;
        }

        .nonBulletedList {
            padding-left: 15px;
        }
    </style>
}

@{
    ViewBag.Title = "Detail";
}

<h1>@Model.Title by @Model.Author</h1>

<div class="row" style="border: 1px solid grey; overflow:auto">
    <div class="col-lg-2" style="float: left">
        <img style="margin-left:10px; margin-top: 20px" src="@Model.ImageLink" />
@if (User.IsInRole("Teacher"))
{
    <div style="padding-top: 15px">
        <h5 style="font-weight:bold; margin-left:10px">Your Class:</h5>
        <ul class="nonBulletedList">
            <li>
                Reading: <a href="#">5</a>.
            </li>
            <li>
                Recommended: <a href="#">10</a>.
            </li>
        </ul>
    </div>
}
else
{
        <div style="padding-top:20px" id="userActions">
            <button type="submit" style="margin-bottom: 10px" class="btn btn-primary">I Want To Read This!</button>
            <span style="margin-top:10px">Rate this book:</span>
            <div class="rateit">
            </div>
        </div>
}

    </div>
    <div class="col-lg-10" style="float: right; padding-top: 10px; padding-bottom: 10px;">
        @Html.Raw(Model.Description)
    </div>
</div>

@if (User.IsInRole("Teacher"))
{
    <div class="row" id="topTeacherAssignTeacherActions">
        <h3>Top Questions for Wonder:</h3>
        <ul>
            <li><i class="fa fa-fw questionAdd">&#xf055;</i>Thoughout Wonder, Auggie describes the way that many people react to seeing his face for the the first time: by immediately looking away.
            Have you ever been in a situation where you have responeded like this to seeing someone different?  Having read Wonder, how do you feel about this now? <i class="fa fa-fw questionPlus"></i></li>
            <li><i class="fa fa-fw questionAdd">&#xf055;</i>How would you describe Auggie as a person in the first few chapters of the book? What about the final few chapters? Has he changed significantly? Are there any experiences or episodes during the story that you think had a particular effect on him? If so, how? </li>
            <li><i class="fa fa-fw questionAdd">&#xf055;</i>Choose a precept, and explain what it means to you.</li>
            <li><i class="fa fa-fw questionAdd">&#xf055;</i>How does Via’s attitude towards her brother change throughout the story?</li>
            <li><i class="fa fa-fw questionAdd">&#xf055;</i>In the chapter ‘Costumes’ Auggie describes the astronaut helmet that he wore constantly as a younger child. We later learn that Miranda was the one to give Auggie the helmet, and is proud of the gift, but that it was Auggie’s father who threw it away. What do you think the helmet signifies to each of these characters and why do you think they all view it so differently?</li>
        </ul>
    </div>
    
    <div id="teacherQuestions">
        <h3>Your Questions <i id="customQuestionAdd" class="fa fa-fw">&#xf055;</i></h3>
        <ul class="nonBulletedList">
            <li>Who is your favorite character and why? (<a href="#">answers</a>)</li>
        </ul>
    </div>
}
else
{
    <div id="teacherQuestions" class="row nonBulletedList" >
        <h3>Feedback Requested From Ms. Smith</h3>
        @foreach (var question in Model.Questions)
        {
            <div>
                <h4>@question</h4>
            </div>
            <div>
                @Html.TextArea("questionAnswer", new {@class="largeTextArea" })
            </div>        
        }
    </div>    
}

<div class="modal" id="addQuestionModal">
    <div class="modal-dialog modal-lg" style="max-width:400px">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add a question</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddQuestion", "Book"))
                {
                    <div class="form-horizontal">
                        <div class="form-group">
                            <span style="font-weight:bold; display:block">Enter your question below:</span>
                                @Html.TextArea("Question", new {@id="addQuestionTextBox", @class="largeTextArea" })
                        </div>
                        <div class="form-group">
                            <span style="font-weight:bold; display:block">Standards:</span>
                            <input type="text" name="tags" data-role="tagsinput" style="width: 280px" />
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary" id="btnAddQuestion" type="submit" name="submit" onclick="return false;" value="Save" />
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<div id="discussSection">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ireadabook'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ireadabook'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    $(function () {
        $(".questionAdd").click(function (eventData) {
            var elementToAdd = $(this).parent().clone();
            elementToAdd.children("i").remove();
            $("#teacherQuestions ul").append(elementToAdd);
        });

        $("#customQuestionAdd").click(function () {
            $("#addQuestionModal").modal();
        });

        $("#btnAddQuestion").click(function () {
            var text = $("#addQuestionTextBox")[0].value;
            $("#teacherQuestions ul").append($("<li>" + text + "</li>"));
            $("#addQuestionModal").modal("toggle");
            return false;
        });
    });
</script>
