<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("header",false)
    <style>
        .col-md-4 h2 { color:red; }
    </style >
 
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
</head>
<body style="padding-top:0px">
        <div class="navbar" style="background-color:white; border:0px;">
            <div class="container">
                <div class="navbar-header">
                    
                    <a href="/home/index" id="logo"><img src="~/Content/images/iReadaBookwl.jpg" /></a>
                </div>
                <div class="navbar-collapse collapse" style="margin-top:40px;">
                    @Html.Partial("_LoginPartial")
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li> . . . </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content" style="margin-top:0px;">
            @RenderBody()
            <hr />
            <footer>
                <div><img height="100%" width="100%" src="~/Content/images/iRead_footer.jpg" /></div><br /> 
                <div style="text-align:center">
                    <img height="30" width="30" src="~/Content/images/facebook-wrap.png" /> &nbsp;
                    <img height="30" width="30" src="~/Content/images/twitter-wrap.png" /> &nbsp;
                    &copy; @DateTime.Now.Year - iReadABook
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
